html {
  margin: 1.5rem;
}

body {
  background: #eee9de;
  line-height: 1.5;
}

h2 {
  font-family: Lato, bold;
}

p {
  font-family: Lato, regular;
  text-align: left;
  max-width: 25em;
}

.btn {
  border: 3px solid #333;
  color: #666;
  border-radius: 5px;
  padding: .1em .2em;
  background: #eee9de;
  text-align: center;
  font-size: 1.2rem;
}

img {
  vertical-align: middle;
  width: 100%
  display: inline-block;
}
