html {
  box-sizing: border-box;
  background: #eee9de;
  line-height: 1.5;
  font-family: Lato, regular;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.box-wrap {
  padding: 2em 0;
  margin: 0;
  vertical-align: middle;
  text-align: center;

}

.box-image,
.content {
  display: inline-block;
  width: 100%;
  max-width: 25em;
  padding: 1em;
  vertical-align: middle;
}

.content {
  text-align: left;

}

section {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: Lato, bold;
  margin: 0;
}

p {
  text-align: left;
  display: inline-block;
  margin: 0;
}

.btn {
  border: 3px solid #333;
  color: #666;
  border-radius: 5px;
  padding: .4em .75em .5em;
  background: #eee9de;
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5em 0;
}

img {
  width: 100%;
  display: block;
}
