body {
  background: #eee9de;
  line-height: 1.5;
  margin: 1.5rem;
}

h2 {
  font-family: Lato, bold;
}

p {
  font-family: Lato, regular;
  text-align: left;
  display: inline-block;
  max-width: 25em;
}

button {
  border: 3px solid #333;
  color: #666;
  border-radius: 5px;
  padding: .1em .2em;
  background: #eee9de;
  text-align: center;
  font-size: 16px
}

image {
  vertical-align: middle;
  width: auto;
}
